@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #004682 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    padding: 0;
}
.header-container{
   width: 100%;
    max-width: 1800px;

}
.top-header{
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* margin-top: 15px;
    border-radius: 30px; */
    padding: 0 24px;
    align-items: center;
    height: 200%;
    margin:auto;

}
.top-menu-bar {
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.message-link{
    color:#fff;
    display:inline;
    /* text-decoration:underline; */
}
.message-link p {
    display: inline;
    color: white;
    /* text-decoration:underline; */
}
.message-bar {
    /* text-align: center; */
    font-size: 18px;
    color: white;
    height: 50px;
    background-color: #0099ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-bar p {
    text-align: center;
    margin-bottom: 20px;
    padding:10px;
    font-family: 'Acumin Pro', 'Acumin Variable Concept SemiCondensed ExtraLight', sans-serif;
}
.container .search-bar{
    position:relative;
}
.menu-list{
    width:100%;

    max-width: 850px;
    margin:auto;

}
.menu-list.menu-list-content {
    padding: 30px;
    color:#00528a;
    font-size: 18px;
}
.search-bar {
     background-color: #ffffffcf;
     justify-content: center;
    align-items: center;

}
.col-md-10.d-flex.home-search-box img.img-fluid {
    max-height: 38px;
    max-width: 38px;
}

/* .center-navigation .contact-info {
    justify-content: flex-end;
    color:#8696a1;
} */




.mail-logo span > i{
    margin: 0 12px;
}
.phone-number span > i{
    margin: 0 12px;
}
.follow-us h6{
  font-weight: 700;
}
/*
.mail-logo a{
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
}
.phone-number a{
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
} */

.contact-btn{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 52px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #fff;
}

/* .contact-btn:hover{
    background-color: var(--main-color);
} */

/* Bottom Header */

/* .navbar-two .nav-link{
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.navbar-two .nav-link.active{
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
} */
#carouselVideoExampleInterval {
	position: relative;
	top: -240px;
	z-index: -9;
}
video {
    width: 100%;
    /* height: 737px; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.dropdown-item {
	color: #fff;
}
.dropdown-menu.show {
	display: block;
	justify-content: center;
	align-items: center;
	left: 90%;
	right: auto;
	margin: 0 auto !important;
	background-color: #22222240;
  border: 1px solid #424141;
  padding: 18px 26px;
  backdrop-filter: blur(6px);
  border-radius: 18px;
  margin-top: 10px !important;
  flex-wrap: wrap;

}
.dropdown-item:hover, .dropdown-item:focus {
	color: #ccc;
	background-color: transparent;
}
.Upcoming-events {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
}
.main-card .card-one img {
	width: 100%;
	height: 100%;
	min-height: 250px;
	max-height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}
.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-card .card-one {
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
	padding: 32px;
	border-radius: 24px;
    transition: all 0.15s ease;
}
.card-content h6 {
	font-size: 24px;
	font-weight: 600;
    color: var(--main-color);
}
.main-card .card-one:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1),
    0 10px 8px rgba(0, 0, 0, 0.015);
}
.main-card .card-one:hover > img {

   transform: scale(1.05);
   transition: all 0.15s ease;

}
.card-content {
	display: flex;
	flex-direction: column;
}
.card-content .time {
	font-size: 18px;
	font-weight: 600;
    margin-top: 12px;
}
.card-content .time p {
	font-size: 16px;
    margin-bottom: 12px;
	font-weight: 500;
}
.card-content .date {
	font-size: 18px;
	font-weight: 600;
}
.card-content .date p {
	font-size: 16px;
    margin-bottom: 12px;
	font-weight: 500;
}
/* list all events */
.list-all-events{
    color: #7c8787;
}
table.table.table-bordered th {
    background-color: #00528a;
    color: #fff;
    text-align: center;
}
.card-header.mt-5 h4.mb-0 {
    font-size: 38px;
    font-weight: 600;
    color:gray;
} 
button.all-events-list {
    background-color: #7a7a7a;
    border: none;
    padding: 9px;
    color: white;
   
}
button.privacypolicy-list{
    background-color: #7a7a7a;
    border: none;
    padding: 9px;
    color: white; 
}

button.privacypolicy-list a{
    text-decoration: none;
    color:#fff;
}
button.all-events-list a{
    text-decoration: none;
    color:#fff;
}
/* privacy-policy */
span.privacypolicy-title {
    font-size: 35px;
    font-weight: 600;
    color: #00528a;
}
.content.text-right span.text-dropcap.text-dropcap-2 {
    border: 8px solid #423f3f;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    background-color: #423f3f;
}
.content.text-right.text-justify-custom.mt-3 {
    top: 6%;
    position: relative;
}
span.allevents-title{
    color:#00528a;
}
h3, .h3 {
    color: #00528a;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
}
.content.text-right p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.col-md-8 {
    flex: 0 0 auto;
    width: 80.666667%;
    height: 800px;
}
/* testimoanils */
.shadow-effect {
	background: #fff;
	padding: 20px;
	border-radius: 14px;
	text-align: center;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0, 0, 0, 0);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: var(--main-color);
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
    border-radius: 60px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: var(--main-color);
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: var(--main-color);
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
    border-radius: 20px;
}
/* industry Recognition */
.award-img-one img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;


}
.award-img-two img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;

}
.award-img-one {
    display: flex;
    justify-content: center;
}
.award-img-two {
    display: flex;
    justify-content: center;
}
.award-list .award-lists {
	list-style-type: disclosure-closed;
	line-height: 32px;
}
.award-list {
    margin: auto 210px;
}
.award-list .each-awards{
    margin-bottom: 12px;
    font-size: 18px;
}
.award-section {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
/* company news */
.sub-card .news-one {
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
	/* padding-top: 12px; */
	border-radius: 4px;
	transition: all 0.15s ease;
	border: 1px solid #cccccc7a;
}
.sub-card .news-one img {
	width: 100%;
	height: 100%;
	min-height: 250px;
	max-height: 250px;
	object-fit: cover;
	object-position: center;
}
.news-content {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}


/* footer */


/* section {
    padding: 60px 0;
    min-height: 100vh;
} */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #8696a1;
    text-decoration: none;
    font-weight: 500;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
/* .footer-section:before {
content: '';
position: absolute;
top: -146%;
left: -18%;
width: 44%;
height: 257%;
transform: rotate(54deg);
background-color: rgb(31, 47, 64);
-webkit-transform: rotate(54deg);
-moz-transform: rotate(54deg);
-ms-transform: rotate(54deg);
-o-transform: rotate(54deg);
z-index: -10;
}
.footer-section:after {
position: absolute;
content: '';
background-color: rgb(31, 47, 64);
top: -24%;
right: 4%;
width: 26%;
height: 264%;
transform: rotate(44deg);
-webkit-transform: rotate(44deg);
-moz-transform: rotate(44deg);
-ms-transform: rotate(44deg);
-o-transform: rotate(44deg);
z-index: -10;
} */
.footer-top {
padding-top: 96px;
padding-bottom: 50px;
}
.footer-top p,
.company-footer-contact-list li {
color: #8696a1;
}
.company-footer-contact-list {
margin-top: 10px;
}
.company-footer-contact-list li {
display: flex;
display: -webkit-flex;
align-items: center;
}
.company-footer-contact-list li+li {
margin-top: 5px;
}
.company-footer-contact-list li i {
margin-right: 10px;
font-size: 20px;
display: inline-block;
}

.footer-top .site-logo {
margin-bottom: 25px;
display: block;
max-width: 170px;
}
.widget-title {
text-transform: capitalize;
}
.footer-top .widget-title {
color: #ffffff;
margin-bottom: 40px;
font-size: 24px;
  font-weight: 600;
}
.courses-link-list li+li {
margin-top: 10px;
}
.courses-link-list li a {
color: #ffffff;
text-transform: capitalize;
font-family: var(--para-font);
font-weight: 400;
}
.courses-link-list li a:hover {
color: var(--main-color);
}
.courses-link-list li i {
margin-right: 5px;
}
.footer-top .small-post-title a {
font-family: var(--para-font);
color: #ffffff;
font-weight: 400;
}
.small-post-item .post-date {
color: var(--main-color);
margin-bottom: 3px;
font-family: var(--para-font);
font-weight: 400;
}
.small-post-list li+li {
margin-top: 30px;
}

.footer-bottom {
padding: 13px 0;
border-top: 1px solid rgba(255, 255, 255, 0.149);
}
.copy-right-text {
color: #ffffff;
}
.copy-right-text a {
color: var(--main-color);
}
.terms-privacy li+li {
margin-left: 30px;
}
.terms-privacy li a {
color: #ffffff;
position: relative;
}
.terms-privacy li a:after {
position: absolute;
content: '-';
color: #ffffff;
display: inline-block;
top: 0;
right: -18px;
}
.terms-privacy li+li a:after {
display: none;
}

.working-with-us li > a{
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 12px;
   color: #fff;
}
.working-with-us{
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-bottom: 24px;
}
.courses-link-list .cell-phone{
    display: flex;
    gap: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
/* .location-btn{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 42px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: var(--main-color);
} */

.mail-address{
    line-height: 28px;
}
/* advertisement */
@keyframes marquee {
    0% {
      margin-left: 100%;
      transform: translateX(0%);
    }
    100% {
      margin-left: 0;
      transform: translateX(-100%);
    }
  }

  .adverstiment{
    overflow: hidden;

    .marquee {
      animation: marquee 20s linear infinite;
      display: inline-block;
      white-space: nowrap;

      &:hover {
        animation-play-state: paused;
      }
    }
  }
  .text-styling {
    padding-top: 8px;
    color: #00548E;
  }
  .adverstiment {
	background-color: rgb(255, 255, 255);
	backdrop-filter: blur(12px);
}
.sub-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.main-content {
    position: absolute;
    /* top: 50%;
    left: 19%; */
    right: auto;
    /* max-width: 1000px; */
    bottom: auto;
}
.form-control {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    font-size: 1.0rem;
    position: relative;
    font-weight: 400;
    line-height: 1.5;
    /* color: var(--bs-body-color); */
}
.main-search {
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 54px;
	border: none;
	border-radius: 24px;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
	color: #fff;
	position: relative;
	left: -129px;
	right: 0;
	padding: 12px 62px;
	top: 1px;
}
.main-search:hover {
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 54px;
	border: none;
	border-radius: 24px;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 500;
	color: #fff;
	position: relative;
	left: -129px;
	right: 0;
	padding: 12px 62px;
	top: 1px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    text-align: center;
    gap: 12px;
    height: auto;
    min-height: 122px;
    padding: 18px;
}
.industry-recognition{
    background-image: url(../images/8038873_25097.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;

}
.news-content  h6 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;

}
.news-content  h6:hover{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--main-color);
}

.col-6.top-menu-bar.justify-content-center.align-items-center.m-auto {
    max-width: 450px;
}
.col-6.top-menu-bar.justify-content-center.align-items-center.m-auto a.nav-link {
    width: 100%;
    color: #00528a;
    font-weight: 500;
    text-align: center;
}
.contact-info.align-items-center {
    display: flex;
}
.col-3.flex.justify-content-end.d-flex.row.align-items-center {
    max-width: 373px;
    color:#8696a1;
}
.col-md-10.d-flex.home-search-box {
    width: 100%;
    border: 1px solid #000;
    padding: 0px;
}
.search-container {
    padding: 0px 22px;
}
.col-md-10.d-flex.home-search-box {
    width: 100%;
    border: 1px solid #000;
    padding: 0px;
    background-color: #fff;
    max-height: 50px;
    height: 100%;
}
.col-3.search-bar-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu-info-link{
    color:#8696a1;
}
.content-menu-btn {
    position: relative;
    width: 100%;
    max-width: 160px;
    left: 30%;
}

.content-menu-title h6{
    font-size: 25px;
    text-align: center;
    bottom:50%;
    position: relative;
}
.content-menu-subcontent {
    text-align: center;
    font-weight: 500;
}
section.graphical-menu-list {
    max-width: 1080px;
}
.Graphical.Content.Menu {
    width: 100%;
}
.training-link {
    width: 100%;
    max-width: 80px;
    position: relative;
    left: 42%;
    bottom: 45%;
}
.training-link img {
    transition: transform 0.3s ease-in-out;
}

.training-link img:hover {
     transform: rotateY(180deg);
}

.upcoming-course-link{
    background-color: #e5f3fc;
    position: relative;
     
}
.course-list {
    font-weight: 600;
    font-size: 12px;

}
h6, .h6 {
    font-size: 1.4rem;
    color:#00528a;
    text-align: left;
}
.upcoming-course-btn-link{
    background-color: #00528a;
    border: 2px solid #00528a;
    color:#fff;
    padding:5px;
}
.upcoming-course-register a{
    color:#ed872d;
    text-decoration: underline;
}
.event-list h6{
    color:#f6f3e9;
}
.events{
    background-color:#00528a ;
    color:#f6f3e9;
}
.col-4.event-img {
    position: relative;
    left: -3%;
}
.col-4.course-img img {
    height: 400px;
    transform: scaleX(-1);
position:relative;
}
.upcoming-event-register a{
    color:#f6f3e9;
    text-decoration: underline;

}
.upcoming-event-name p{
    font-size: 14px;
}
.upcoming-event-date p{
    font-size: 14px;
}
/* dropdown */

a.event-btn{
   display: block;
    width:100%;
    max-width: 150px;
}
.event-free-btn .event-btn {
    display: block;
    max-width: 54px;
    width: 100%;
    height: auto;
}
.event-free-btn{
    width:100%;
}
.footer-section {
    background-color:#8696a1;
}
.footer-section .footer{
    padding:20px;
}
.bottom-menu-location .location-btn {
    position: relative;
    left: 26%;
    max-width: 207px;
}
.bottom-menu-location h6{
    color:#000;
}
.bottom-menu-location p{
    color:#000;
}
.bottom-menu-working-with-us h6 {
    text-align: center;
    color: #000;
}
.working-with-us-menu li a{
    color:#000;
    text-decoration: underline;
    text-align: justify;
}
ul.working-with-us-menu {
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.industry-list h6{
    color:#84ce05;
}
span.industry-text-list {
    font-weight: 500;
    font-size: large;
}
.industry-list a{
    color:#84ce05;
    text-decoration: underline;
}
.company-news-link{
    background-color: #0099ff;
}
.company-news-content {
    padding: 0px;
    margin: 0;
}
span .title-part-1{
    text-decoration: none;

}
.news-list .rss-news-img{
    max-width: 20px;
}
.company-news-menu .news-more-img{
    max-width: 80px;
}
.news-list{
    color:#fff;
    font-weight: 500;
}
.news-list h6{
    color:#fff;
    font-weight: 500;
}
.company-news-menu .menu-news-img{
    max-width: 70px;
}
.company-news-menu .news-img{
    height:10%;
    max-width: 100px;
}
.company-news-content{
    padding: 0%;
}
.news-menu-img{
    max-width:320px;
    position:relative;
    left:-3%;
}
img.news-more-img {
    max-width: 120px;
}
.news-menu-img .news-img{
    width:100%;
}
.company-news-list.d-flex.company-news {
    gap: 40px;
}
.company-news-list-menu span{
    font-size: 20px;
}
.company-news-list-menu a{
    /* text-decoration: underline; */
    color:#fff;
    font-size: 20px;
}
.company-news-content .title-part-2{
    text-decoration: underline;
}
/* slider */
.logos-slider .slide img {
    width: 100px;
    height: 100px;
    max-width: 130px;
    animation: scroll 60s linear infinite;
  }

  .logos-slider {
    width: 100%;
    max-width: 2900px;
    margin-top: 55px;
    display: flex;
    gap: 3em;
    overflow: hidden;
}
  .slider {
    margin-top: 70px;
    background-color: #fff;
    padding: 8em 2em;
  }

  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }
  .customer-content h6{
    background-color:#0099ff;
  }
  .scroll-banner .scroll-content p{
    font-size:20px;
    font-weight: 500;
    text-align: left;
    color:#000'


  }
.scroll-banner .scroll-content h6{
    font-size:30px;
    font-weight: 600;
    text-align: left;
    color:#0099ff;
}
.scroll-banner .customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding:180px;
}
.carousel-item {
    display: flex;
    align-items: center;
    min-height: 400px;
    justify-content: center;
}
.scroll-content {
    text-align: center;
    margin-right: 20px;
}
.scroll-menu img {
    max-height: 100px; /* Adjust based on your design needs */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    color:#8696a1;
}

span.bottom-menu-content {
    color: #00528a;
    font-size: large;
    font-weight: 600;
}
.bottom-menu-location p {
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
.bottom-menu-location p a{
    color:#000;
}.bottom-menu-location h6 {
    text-align: center;
}
.footer-mail-link{
    text-decoration: underline;
}
.footer-content {
    color:#fff;
}
.footer-content-link a{
    color:#fff;
    text-decoration: underline;
}
span.bottom-logo-text {
    color: #00528a;
    font-weight: 600;
    font-size: 20px;

}

.industry-text-content {
    font-size: 16px;
    width: 100%;
    max-width: 520px;
    /* margin-left: -1px; */
    font-weight: 500;
}
section.bottom-menu.mt-5.justify-content-between {
    background-color:rgb(246 243 233);
}
.container.video-banner {
    position: relative;
    max-width: 800px;
    width: 100%;
}
.dropdown-toggle {
    white-space: nowrap;
    color: #00528a;
}
a.dropdown-item.dropdown-toggle.sub-menu {
    color: #fff;
}
a.dropdown-item.dropdown-toggle.sub-menu:hover {
    color: #ccc;
}
.dropdown-item {
	color: #fff;
}
.form-control:focus {
    border-color: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}
img.img-fluid.search-icon.search-courses {
    position: relative;
    top: 11%;
    right: 5%;
    max-width: 50px; height: auto;
}
/* .scroll-banner{
    background-color: ;
} */


/* scrolling text slider */

#carousel {
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    position: relative;
    max-width: 1386px;
    /* width: 100%; */
    padding: 12px 0;
    position: relative;
    height: 277px;
}

#carousel ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease; /* Smooth transition for carousel */
}

#carousel ul li {
    flex: 0 0 100%; /* Flex properties for each carousel item */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-button {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    color: #7c8787;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
    margin-top: -107px;

}
h6.customer-saying-title {
    margin-bottom: -32px;
    margin-top: 28px;
}
.carousel-button:hover {
    background-color:#f6f3e9;
}

.carousel-button-left {
    left: 10px;
}

.carousel-button-right {
    right: 10px;
}

.customer-saying {
    background-color: #f6f3e9;
}


.customer-saying h6 {
    font-size: 24px;
    color: #009bfa;
    text-align: left;
    margin-left: 115px;
}

.testimonial-image{
    mix-blend-mode: multiply;
    width:100%;
    max-width:300px;
}
.testimonial-content {
    /* margin: -53px; */
    float: left;
    width: 100%;
    /* left: 30%; */
    max-width: 700px;
    /* max-width: 805px; */
    text-align: left;
    /* padding: 8px; */
    position: relative;
    left: 9%;
    margin-top:30px;
}

.testimonial-image-container{
    float: right;
     width: 30%;
     padding: 32px;
}
.filter-courses-container {
    width: 100%;
    max-width: 837px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 6px 12px rgba(46, 78, 98, .12);
}
.filter-courses-container li.list-unstyled.course-item {
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
/* upcoming course */
.upcoming-course-name .truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .content center a {
    background: #494848;
    padding: 10px;
    color: #fff;
}
.text-justify-custom {
    text-align: justify;
}

.row-12.text-left h4 {
    text-align: center;
    font-size: xx-large;
}


.col-4.course-img img {
    height: 100%;
    transform: scaleX(-1);
}
.upcoming-course-link .container-fluid .col-7 {
    padding: 25px;
}
.testimonial-content span {
    font-family: 'Acumin Variable Concept SemiCondensed', sans-serif;
    font-size: 19px;
}
.testimonial-content p {
    font-family: 'Acumin Variable Concept SemiCondensed', sans-serif;
    font-size: 19px;
}
.logos-slider {
    width: 100%;
    max-width: 530px;
    margin-top: 55px;
    display: flex;
    gap: 3em;
    overflow: hidden;
}
.video-height {
    width: 100%;
    height: 500px; /* Set your desired height */
    object-fit: cover; /* Ensures the video covers the area without distortion */
}
h4.search-filter-course-title.mt-5 {
    text-transform: capitalize;
    color: #00528a;
    font-weight: 500;
    font-size: 40px;
}
.search-filter-course h2{
   
    color: #00528a;
    font-weight: 500;
    font-size: 24px;
}
button.event-date-submit {
    background-color: #5e5b5b;
    border: none;
    padding: 7px;
    font-size: 16px;
    color: white;
}
.content-menu-details{
    background-color: #f6f3e9;
    margin-top: -6px;
    height: 415px;
}
.content-graphical {
    padding: 24px;
}
h1.text-center.pt-4 {
    color: #00558b;
}
a.register-here {
    color: #00558b;
}

.upcoming-courses-instructor,
.upcoming-courses-course{
    color: #00558b;
}

.company-news-list {
    padding: 15px;

}

.company-news-title {
    color: #00528a;
     text-decoration: none;

}
.company-news-title:hover {
    text-decoration: underline;
    color: #00528a;
}

.company-news-body-summary {
    font-size: 16px;
    color: #333;
}
a.company-list-see-more {
    color: #00528a;
}
/* contact-form */
section.contact-form {
    margin-top: 112px;
}
h2.contact-title {
position: relative;
margin: 0 0 20px 0;
padding: 0 0 20px;
border-bottom: 1px #e2e2e2 solid;
text-transform: capitalize;
font-size: 25px;
color: #00548E;
}
.main-color {
    color: #00548E !important;
}
.contact-details h4,
.contact-details h5 {
    font-size: 17px;
    text-transform: none;
}

.contact-details strong {
    font-weight: 500;
}
.contact-us {
    margin-top: 44px;
}



/* media query start */


@media only screen and (min-width:1024px){
    .container.main-content.search-filter.home-search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 900px;
        transform: translate(-50%, -50%);
    }
    .container .search-bar {
        position: relative;
        height: 200px;
    }.company-news-list.d-flex.company-news {
        gap: 86px;
    }
    .company-news-list-menu span {
        font-size: 19px;


    }
   
}

@media only screen and (min-width: 1080px) and (max-width: 1920px) {
    .container.main-content.search-filter.home-search-box {
        position: absolute;
        top: 60%;
        left: 50%;
        max-width: 725px;
        transform: translate(-50%, -50%);
    }
    h5.mb-0 {
        font-size: 15px;
        font-weight: 600;
        
    }
    .menu-list.menu-list-content {
        padding: 20px;
        color: #00528a;
        /* position: relative; */
        left: 3%;
        font-size: 12px;
    }
    .col-md-10.d-flex.home-search-box {
        width: 100%;
        border: 1px solid #000;
        padding: 0px;
        background-color: #fff;
        max-height: 38px;
        height: 100%;
    }
    .col-md-10.d-flex.home-search-box img.img-fluid {
        max-height: 30px;
        max-width: 41px;
    }
    img.img-fluid.search-icon.search-courses {
        position: relative;
        top: 5%;
        right: 5%;
        max-width: 45px;
        height: auto;
    }
    .container .search-bar {
        position: relative;
        height: 183px;
    }
    .filter-courses-container {
        width: 100%;
        max-width: 658px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #f1f1f1;
        box-shadow: 0 6px 12px rgba(46, 78, 98, .12);
    }
    .filter-courses-container li.list-unstyled.course-item {
        padding: 3px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1366px){
    .course-list{
        position: relative;
        height:300px;
    }
    .course-list {
    font-weight: 600;
    font-size: 13px;
}
.company-news-list.d-flex.company-news {
    gap: 110px;
    font-size: 14px;
}
    .indutry-link .col-6 {
        flex: 0 0 auto;
        width: 44%;
    }
    .upcoming-event-name p {
        font-size: 14px;
    }
    .upcoming-event-date p {
        font-size: 14px;
    }
    .event-free-btn .event-btn {
        display: block;
        max-width: 55px;
        width: 100%;
        height: auto;
    }
    .event-list h6 {
        color: #f6f3e9;
        font-size: 20px;
    }
    .upcoming-event-register a {
        color: #f6f3e9;
        position: relative;
        left: 20%;
        text-decoration: underline;
    }
    .customer-saying h6 {
        font-size: 22px;
        color: #009bfa;
        text-align: left;
        margin-left: 115px;
    }
    .testimonial-content span {
        font-family: 'Acumin Variable Concept SemiCondensed', sans-serif;
        font-size: 16px;
    }
    .news-list h6 {
        color: #fff;
        font-weight: 500;
        font-size: 22px;
    }
    .company-news-content .title-part-1{
        font-size: 16px;
    }
    .company-news-content .title-part-2{
        font-size: 16px;
    }
    img.news-more-img {
        max-width: 100px;
        position: relative;
        left: 3%;
    }
    a.see-more-link {
        font-size:16px;
    }
    .content-menu-subcontent {
        text-align: center;
        font-weight: 600;
        font-size: 14px;
    }
    .content-menu-title h6 {
        font-size: 22px;
        text-align: center;
        bottom: 50%;
        position: relative;
    }
    .bottom-menu-location p {
        font-weight: 500;
        text-align: center;
        font-size: 14px;
    }
    .bottom-menu-location .location-btn {
        position: relative;
        left: 23%;
        max-width: 201px;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 32.333333%;
    }
    ul.working-with-us-menu {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
    span.bottom-logo-text {
        color: #00528a;
        font-weight: 600;
        font-size: 18px;
    }
    .col-md-4.graphical-content-menu .content-menu-subcontent {
        position: relative;
        max-width: 349px;
    }
    .filter-courses-container {
        width: 100%;
        max-width: 660px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #f1f1f1;
        box-shadow: 0 6px 12px rgba(46, 78, 98, .12);
    }
    .filter-courses-container li.list-unstyled.course-item {
        padding: 3px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }
 
}

@media only screen and (min-width: 554px) and (max-width: 1326px){
    .upcoming-course-link{
        position: relative;
        height:400px;
    }
    .course-list{
       font-size:12px;
    }
    .course-img img{
        max-width:400px;
        width:100%;
    }
    .col-6 .logos-slider{
        flex: 0 0 auto;
        width: 40%;
    }
    .company-news-list.d-flex.company-news {
        gap: 86px;
    }
    video {
        width: 100%;
        height: 736px;
    }
    .filter-courses-container {
        width: 100%;
        max-width: 836px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #f1f1f1;
        box-shadow: 0 6px 12px rgba(46, 78, 98, .12);
    }
    section.events {
        background-color: #00528a;
        color: #f6f3e9;
        height: 100%;
        max-height: 350px;
    }
}