* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Acumin Variable Concept SemiCondensed", sans-serif;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Acumin Variable Concept SemiCondensed", sans-serif;
}

.image-banner-container {
    position: relative;
    overflow: hidden;
    height: 524px;
}
.training-image-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.banner-image {
    width: 100%; /* Make sure the image takes up the full width */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.training.filter-courses-container {
    width: 100%;
    max-width: 339px;
    position: relative;
    left: 38%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 6px 12px rgba(46, 78, 98, 0.12);
    z-index: 2;
}
.training.filter-page-courses-container {
    width: 100%;
    max-width: 339px;
    position: relative;
    left: 38%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 0 6px 12px rgba(46, 78, 98, 0.12);
    z-index: 2;
}

.col-9.training-content {
    font-size: 18px;
    line-height: 1.8rem;
    font-family: "Acumin Variable Concept SemiCondensed", sans-serif;
}

.course-level.search-container {
    padding: 0px 22px;
    margin-left: 32%;
    margin-top: -3%;
}

img.managemnt-logo {
    position: relative;
    margin-top: 13%;
    max-width: 100%;
}

.training-social-links.text-center {
    text-align: center !important;
    position: relative;
    margin-top: -53%;
}

.training-contact-info.align-items-center {
    margin-top: -17%;
    position: relative;
    display: flex;
    margin-right: -46px;
    font-size: 12px;
    max-width: 220px;
}
.social-icons.justify-content-around.d-flex {
    position: relative;
    margin-top: 5%;
}
.col-md-10.d-flex.training-search-box {
    width: 100%;
    border: 1px solid #898484cc;
    padding: 2px;
    background-color: #fff;
    max-height: 30px;
    height: 100%;
    position: relative;
    left: 53%;
    transform: translateX(-50%);
    max-width: 292px;
}
img.img-fluid.training-search-icon.search-courses {
    width: 100%;
    max-width: 20px;
    height: 60%;
    margin-top: 2%;
    position: relative;
}
img.img-fluid.training-search-icon.page-search-courses {
    width: 100%;
    max-width: 15px;
    height: 66%;
    margin-right: -3px;
    margin-top: 1%;
    position: relative;
}
img.beginner-course-logo,
img.intermediate-course-logo,
img.advanced-course-logo {
    width: 100%;
    max-width: 95px;
    position: relative;
    margin-left: 500px;
    margin-top: 4%;
}

.beginner-course,
.intermediate-course,
.advanced-course {
    position: relative;
    left: 50%;
    margin-top: -5%;
    transform: translateX(-50%);
}

h5.beginner-course-title,
h5.intermediate-course-title,
h5.advanced-course-title {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-top: 4%;
    margin-left: 218px;
    text-align: center;
    text-transform: uppercase;
}

h5.beginner-course-title {
    color: #ed872b;
    position: relative;
    margin-top: 2%;
    left: -10%;
}

h5.intermediate-course-title {
    color: #3d90c7;
    position: relative;
    margin-top: 2%;
    left: -10%;
}

h5.advanced-course-title {
    color: #84ce05;
    position: relative;
    margin-top: 2%;
    left: -10%;
}

.col-6.jobs-ad {
    background-color: #e5f3f5;
}

.col-6.newcomer-ad {
    background-color: #00528a;
}
p.ad-course {
    font-size: 18px;
    font-weight: 600;
    margin-top: 8%;
    position: relative;
    left: 66%;
    transform: translateX(-50%);
    color: #000;
    text-decoration: underline;
}
.col-3.course-duration p {
    font-size: 16px;
    color: #000;
}

.course-header-item.col-7,
.course-header-item.col-3,
.course-header-item.col-2,
p.sub-title-course {
    font-size: 12px;
    font-weight: 600;
    font-family: "Acumin Variable Concept SemiCondensed", sans-serif;
}
.courses-level {
    padding-left: 78px;
}
.row.course-body.container-fluid.mt-2 {
    line-height: 2.2rem;
}
.col-7.course-title a {
    font-weight: 500;
    text-decoration: underline;
    color: #000;
}
section#courses-level-container {
    background-color: #e5e2d8d9;
    margin-top: -51px;
}
#advertisement-courses-job {
    margin-top: -41px;
}

.form-control {
    display: flex;
    width: 100%;
    padding: 11px 6px;
    font-size: 0.9rem;
    color: #ccc;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

.overlay.training-landing-container {
    border: 1px solid #645b5b;
    position: absolute;
    top: 226px;
    left: 50%;
    transform: translate(-50%, -13%);
    /* transform: translateX(-50%); */
    max-width: 958px;
    width: 100%;
    height: auto;
    background-color: #ffffffe6;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    backdrop-filter: blur(-34px);
    z-index: 5;
}
/* training landing page */
img.training-banner {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
h3 {
    text-align: center;
}

.col-5th {
    width: 20%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

h4.training-category-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-top: 30px;
}
p.course-category-title {
    text-align: center;
    font-size: 15px;
}
img.training-courses-button {
    width: 100%;
    max-width: 147px;
    height: auto;
    margin-top: 13px;
    position: relative;
    left: 20px;
}
img.training-courses-button.mb-5 {
    margin-top: 11px;
}
img.training-courses-button.mb-3 {
    margin-top: 24px;
    position: relative;
    left: 30px;
}
section#training-landing-credits {
    height: 268px;
    background-color: #8696a038;
}
img.training-courses-banner {
    width: 100%;
    max-width: 70px;
    position: relative;
    left: 33%;
    margin-top: 49px;
    transition: transform 0.6s ease;
    transform-origin: center center;
}

img.training-courses-banner:hover {
    transform: rotateY(180deg);
}
h4.training-credits-title {
    color: #84ce05;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-top: 57px;
    right: -98px;
}
h4.earn-credits-title {
    color: #ed872b;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: -138px;
    margin-top: 58px;
}
h4.exampass-credits-title {
    color: #0099ff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: -98px;
    margin-top: 58px;
}
p.training-credits-content {
    position: relative;
    text-align: center;
    padding: 38px;
    font-size: 16px;
    top: -10%;
}
a.training-credits-link {
    position: relative;
    left: 37%;
    color: #84ce05;
    top: -25%;
    text-decoration: underline;
}
a.earn-credits-link {
    position: relative;
    left: 39%;
    top: -27%;
    color: #ed872b;
    text-decoration: underline;
}
a.exampass-credits-link {
    position: relative;
    left: 39%;
    color: #0099ff;
    top: -27%;
    text-decoration: underline;
}
.col-6.newcomer-ad {
    max-width: 50%;
    background-color: #00528a;
}

img.training-ads-banner {
    height: 350px;
    max-width: 877px;
    left: -23%;
}
img.newcomer-ads-banner {
    height: 350px;
    position: relative;
    right: 2%;
    max-width: 677px;
}
.upcoming-course-link {
    background-color: #e5f3fc;
    position: relative;
    margin-top: -2%;
}

.overlay.training-text-container {
    border: 1px solid #645b5b;
    position: absolute;
    top: 146px;
    left: 50%;
    transform: translate(-50%, -13%);
    max-width: 958px;
    width: 100%;
    height: auto;
    background-color: #ffffffc4;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    backdrop-filter: blur(-34px);
    z-index: 5;
}

.training-text-container {
    position: relative;
    max-height: 200px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}

#full-body {
    max-height: 100px;
    overflow-y: auto;
}

#full-body::-webkit-scrollbar {
    width: 8px;
}

#full-body::-webkit-scrollbar-thumb:hover {
    background-color: #050000;
}
.training-management-course h2 {
    color: #00528a;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

section.courses-level-container {
    background-color: #e5e2d8d9;
    padding-bottom: 115px;
}

/* new changes 2-08 */

.overlay.individualcourse-text-container {
    border: 1px solid #645b5b;
    position: absolute;
    margin-top: 255px;
    padding-top: 20px;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, -13%);
    max-width: 939px;
    width: 100%;
    height: auto;
    background-color: #ffffffc4;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 13px;
    backdrop-filter: blur(-34px);
    z-index: 5;
}
img.individualcourse-banner-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.container.individualcourse-management {
    margin-top: 11px;
}
